
block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label First Name
            input(type="text", name="username")
        div.input
            span.label Last Name
            input(type="text", name="password")
        div.actions
            input(type="submit", value="log in")

    a(href="/signup") signup page
